pyttsx3==2.90
speech-recognition-python==3.8.1
DateTime==4.3
wikipedia==1.4.0
pygame==2.1.0
gTTS==2.2.3
requests==2.26.0
twilio==6.85.0
youtube-search-python==1.4.6
python-vlc==3.0.11115
pytube==11.0.1
